**/ __pycache__
**/.DS_Store
**/*.doc
**/*.doc
**/*.pdf
**/*.docx`
**/*.xls
**/*.xlsx
 __initold__.py
        interesting_ids.py


**.log
**.log.[0-9]**
**.sqlite
**.json
**.html
**.pyc
**.xls
.idea/
files/
old/
*.yaml
venv/
/foo.txt
/STEMWizard/interesting_ids.py
/STEMWizard/__initold__.py
